/* 出勤登録画面専用 */
.clock-container {
    max-width: 600px;
    margin: 20vh auto;
    padding: 2rem;
    text-align: center;
}

.status-badge {
    display: inline-block;
    padding: 0.4rem 1.5rem;
    background-color: #bbb;
    color: #0e0e0e;
    border-radius: 50px;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.datetime-display {
    margin-bottom: 3rem;
}

.date-text {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.time-text {
    font-size: 4rem;
    font-weight: bold;
}

.clock-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    max-width:  550px;
    margin: 0 auto;
}

.btn-clock {
    padding: 1rem 4rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-clock:hover {
    background-color: #333;
}

.btn-clock.btn-white {
    background-color: white;
    color: #000;
}

.btn-clock.btn-white:hover {
    background-color: #f5f5f5;
}

.btn-clock:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}