.attendance-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.page-title {
    font-size: 2rem;
    margin: 5rem 0 3rem;
}

/* タイトルの縦棒 */
.title-bar {
    display: inline-block;
    width: 8px;  /* 太さ（数字を増やすともっと太くなる） */
    height: 2.3rem;  /* 高さ */
    background-color: #000;
    margin-right: 1rem;
    vertical-align: middle;
}

.detail-box {
    background: #fff;
    border-radius: 12px;
    padding: 0 6rem;
    margin: 0 auto 1.5rem auto;
    min-height: 500px;
}

.detail-row {
    display: flex;
    align-items: center;
    padding: 2.5rem 6rem;
    margin: 0 -6rem;
    border-bottom: 3px solid #eee;
}

.detail-label {
    min-width: 180px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    margin-right: 5rem;  
}

.detail-value {
    flex: 1;
    font-size: 1.2rem;
    color: #444;
    font-weight: bold;
}

.time-range {
    display: inline-flex;
    align-items: center;
    gap: 3rem;
}

.time-box {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    border-radius: 4px;
    outline: none;
    width:  120px;
    text-align: center;
}

.time-box:invalid {
    color: transparent;
}

.time-box:focus:invalid {
    color: #000;
}


.note-box {
    width: 100%;
    min-height: 100px;
    background: white;
    border: 1px solid #eee;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
}

.btn-container {
    text-align: right;
    margin-top: 3rem;
}

.btn-edit {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    background: #000;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

/* 承認待ちメッセージ */
.pending-message {
    color: red;
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;  /* お好みのサイズに調整 */
}

/* 承認済みメッセージ */
.approved-message {
    padding: 0.8rem 2.5rem;
    font-size: 1.5rem;
    background: #666;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}